.hide {
  display: block;
  visibility: visible;
  height: 0;
  transition: height 0.4s;
  -webkit-transition: height 0.4s;
  width: 100%;
}

.show {
  visibility: visible;
  height: 276px;
  transition: height 0.4s;
  -webkit-transition: height 0.4s;
}
